@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* font-family: "Cubic-11";
  src: url("/font/Cubic_11_1.013_R.woff") format("woff"),
    url("/font/Cubic_11_1.013_R.woff2") format("woff2"); */
  font-family: "GenJyuuGothic";
  src: url("/font/GenJyuuGothic-Bold.woff2") format("woff2");
}

@layer base {
  html {
    font-family: GenJyuuGothic;
  }
  body {
    @apply bg-secondary-normal;
  }
}

@layer components {
  .title {
    @apply mx-auto max-w-[800px]  border-t-2 border-b-4 border-primary-normal bg-secondary-normal  bg-contain  bg-center bg-no-repeat pt-4  text-center text-5xl text-primary-normal lg:h-36 lg:w-2/3 lg:border-none lg:bg-[url('@/assets/bg/bg_talking.png')] lg:pt-7 xl:h-40 xl:w-full xl:pt-8;
  }
  .sub-title {
    @apply text-center text-lg  text-secondary-dark;
  }
  .remark {
    @apply text-sm text-highlight-normal;
  }
  .section {
    @apply h-screen;
  }

  .wrapper {
    @apply mx-auto max-w-[1200px];
  }

  .hash-tag {
    @apply mx-auto mt-5 w-[120px] rounded-2xl border-2  border-secondary-dark p-1 text-center  text-secondary-dark;
  }

  .btn {
    @apply w-[180px] rounded-2xl bg-secondary-dark p-1 text-white hover:bg-highlight-normal;
  }
}

@media screen and (max-width: 1024px) {
  @import "aos/dist/aos.css";
}
